@font-face {
  font-family: "Nunito";
  src: url("Nunito-Light.eot");
  src: local("Nunito Light"), local("Nunito-Light"),
    url("Nunito-Light.eot?#iefix") format("embedded-opentype"),
    url("Nunito-Light.woff2") format("woff2"),
    url("Nunito-Light.woff") format("woff"),
    url("Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("Nunito-SemiBold.eot");
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"),
    url("Nunito-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Nunito-SemiBold.woff2") format("woff2"),
    url("Nunito-SemiBold.woff") format("woff"),
    url("Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.eot");
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url("Nunito-Regular.eot?#iefix") format("embedded-opentype"),
    url("Nunito-Regular.woff2") format("woff2"),
    url("Nunito-Regular.woff") format("woff"),
    url("Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
