@font-face {
    font-family: 'Rouge Script';
    src: url('RougeScript-Regular.eot');
    src: local('Rouge Script'), local('RougeScript-Regular'),
        url('RougeScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('RougeScript-Regular.woff2') format('woff2'),
        url('RougeScript-Regular.woff') format('woff'),
        url('RougeScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

