.container {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  z-index: 3;
}
.logotipmain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
  margin-top: 32px;
  margin-left: 110px;
}
.knopki {
  display: flex;
  justify-content: center;
  margin-left: 350px;
  width: 280px;
  justify-content: space-between;
  z-index: 0;
}
.knopkawork {
  display: flex;
  justify-content: center;
  margin-left: 255px;
  z-index: 3;
  border: 0;
  background-color: rgb(255, 255, 255);
  height: 75px;
  width: 160px;
}
.knopkalogo {
  display: flex;
  justify-content: center;
  margin-left: 255px;
  z-index: 3;
  border: 0;
  background-color: rgb(255, 255, 255);
  height: 75px;
  width: 160px;
}
.knopkawork:active {
  margin-top: 15px;
}
.knopkasearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-top: -10px;
  z-index: 3;
  border: 0;
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 50px;
}
.knopkasearch:active {
  margin-top: 15px;
}
.menu {
  display: flex;
  width: 44px;
  height: 19px;
  margin-top: 37px;
  text-decoration: none;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.menu:hover {
  content: " ";
  position: relative;
  border: 2px solid rgb(247, 143, 143);
  font-weight: 1000;
}
.contact:hover {
  content: " ";
  position: relative;
  border: 2px solid rgb(247, 143, 143);
  font-weight: 1000;
}
.services:hover {
  content: " ";
  position: relative;
  border: 2px solid rgb(247, 143, 143);
  font-weight: 1000;
}
.services {
  display: flex;
  width: 61px;
  height: 19px;
  margin-top: 37px;
  text-decoration: none;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}
.contact {
  display: flex;
  width: 57px;
  height: 19px;
  margin-top: 37px;
  text-decoration: none;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: #000000;
}
.menustrelka {
  box-sizing: border-box;

  display: flex;
  width: 112px;
  height: 39px;
  margin-top: 30px;
  margin-right: -100px;

  border: 2px solid #191c51;
  border-radius: 30px 0px 18px 30px;
  text-align: center;
}
.menu1strelka {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 15px;
}
.strelka {
  display: flex;
  margin-left: 10px;
  width: 9px;
}
.searchone {
  display: flex;
  width: 31px;
  height: 3px;
  margin-top: 39px;

  background: #191c51;
  border-radius: 10px;
}
.searchtwo {
  display: flex;
  width: 21px;
  height: 3px;
  margin-top: 5px;
  margin-left: 10px;

  background: #191c51;
  border-radius: 10px;
}
.searchthre {
  display: flex;
  width: 15px;
  height: 3px;
  margin-top: 5px;
  margin-left: 16px;
  background: #191c51;
  border-radius: 10px;
}
.tochka {
  display: flex;
  width: 4px;
  height: 4px;

  margin-top: -10px;

  background: #fe3c51;
  border-radius: 50%;
}
.shapka {
  display: flex;
  width: 1060px;
  height: 805px;
  margin-left: 0px;
  margin-top: -2px;
  z-index: 0;

  background: #f7f6fe;
}
