.maps {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1440px;
  height: 492px;
  margin-left: 266px;
  margin-top: 170px;
  background-color: #f7f6fe;
}
.mapA {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.mapA1 {
  position: relative;
  height: 53px;
  width: 53px;
  margin-left: -650px;
  margin-top: -220px;
}
.mapA2 {
  position: relative;
  height: 55px;
  width: 55px;
  margin-left: 40px;
  margin-top: 200px;
}
.mapA3 {
  position: relative;
  height: 46px;
  width: 46px;
  margin-left: 60px;
}
.mapA4 {
  position: relative;
  height: 44px;
  width: 44px;
  margin-left: 600px;
  margin-top: 300px;
}
.mapA5 {
  position: relative;
  height: 55px;
  width: 55px;
  margin-top: -200px;
}
.mapA6 {
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.txtm {
  display: flex;
  height: 146px;
  width: 463px;
  margin-top: 100px;
  margin-left: 400px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.maptxt {
  position: relative;
  display: flex;
  width: 463px;
  height: 92px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 1000;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}
.maptxt1 {
  position: relative;
  display: flex;
  width: 393px;
  height: 46px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  color: #6b6b6b;
}
.mapbuttom {
  position: relative;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 39px;
  margin-top: 250px;
  margin-left: -300px;
  background: #fe3c51;
  border-radius: 30px 0px 18px 30px;
  border: 0;
}
.mapbuttom:hover {
  border: 2px solid black;
  box-shadow: 6px 6px 30px rgba(48, 16, 16, 0.25);
}

.mbt {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-top: 6px;
}
.blogg {
  display: absolute;
  justify-content: center;
  align-items: center;
}
.blogt {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 300px;
  margin-bottom: 100px;
}
.txtblog {
  display: flex;
  width: 92px;
  height: 19px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 10px;
  text-align: center;
  color: #ff3442;
}
.txtblog1 {
  display: flex;
  width: 277px;
  height: 56px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
  text-align: center;
  color: #000000;
}
.blogp {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
  margin-left: -100px;
}
.post1 {
  display: flex;
  position: relative;
  width: 351px;
  height: 387px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.post2 {
  display: flex;
  position: relative;
  width: 351px;
  height: 387px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-left: 50px;
}
.post3 {
  display: flex;
  position: relative;
  width: 351px;
  height: 387px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-left: 100px;
}
.phpost1 {
  display: flex;
  position: relative;
  margin-left: 10px;
  width: 326px;
  height: 204px;
  border-radius: 20px;
}
.phpost2 {
  display: flex;
  position: relative;
  margin-left: 20px;
  width: 326px;
  height: 204px;
  border-radius: 20px;
}
.phpost3 {
  display: flex;
  position: relative;
  margin-left: 10px;
  width: 326px;
  height: 204px;
  border-radius: 20px;
}
.txtpost1 {
  display: flex;
  position: relative;
  width: 118px;
  height: 28px;
  margin-top: 220px;
  margin-left: -290px;
  margin-bottom: 20px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #fe3c51;
}
.txtpost11 {
  display: flex;
  position: relative;
  width: 313px;
  height: 26px;
  margin-top: 250px;
  margin-left: -110px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #191c51;
}
.txtpost12 {
  display: flex;
  position: relative;
  width: 300px;
  height: 52px;
  margin-top: 300px;
  margin-left: -310px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #595954;
}
.subscribetoour {
  display: flex;
  position: relative;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 654px;
  height: 173px;
  margin-top: 120px;
  margin-left: 658px;
  background: linear-gradient(
    90deg,
    #fce8e9 2.02%,
    rgba(252, 232, 233, 0) 100.78%
  );
  border-radius: 20px;
}
.txts {
  display: flex;
  position: relative;
  width: 359px;
  height: 33px;
  margin-top: 15px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.obr {
  display: flex;
  position: relative;
  width: 473px;
  height: 56px;
  margin-top: 0px;
  background: #ffffff;
  border: 1px solid rgba(42, 34, 148, 0.1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
  border-radius: 84px 0px 35px 84px;
}
.txto {
  display: flex;
  position: relative;
  width: 125px;
  height: 18px;
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #c4c4c4;
}
.send {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 56px;
  margin-left: 360px;
  margin-top: -57px;
  background: #ff3442;
  box-shadow: 4px 4px 30px rgba(208, 208, 208, 0.25);
  border-radius: 252px 0px 110px 252px;
  border: 0;
}
.send:hover {
  border: 2px solid black;
  box-shadow: 6px 6px 30px rgba(48, 16, 16, 0.25);
}
.tsend {
  display: flex;
  position: relative;
  width: 62.94px;
  height: 25.57px;
  margin-left: 25px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
