.main1 {
  width: 1410px;
  height: 666px;
}
.block1 {
  width: 762px;
  height: 457px;
  margin-top: 90px;
}
.bu {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  height: 860px;
  background-image: url(/images/fon.png);
}

.block2 {
  display: flex;
  width: 495px;
  height: 850px;
  margin-right: -150px;
  margin-top: 15px;
}
.free {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  height: 44px;
  margin-left: 230px;
  text-align: center;
  background: #191c51;
  border: 5px solid #191c51;
  border-radius: 30px 0px 18px 30px;
}
span {
  color: rgb(248, 47, 57);
}
.quote {
  display: flex;
  justify-content: center;
  font-family: "Maven Pro";
  font-style: normal;
  margin-top: 15px;
  margin-left: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 12px;
  color: white;
}
.watch {
  display: flex;
  width: 33.07px;
  height: 33.07px;
  margin-top: 505px;
  margin-left: -720px;
}
.watchtext {
  width: 52.91px;
  height: 20.94px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: bold;
  color: #191c51;
}
.strelka2 {
  display: flex;
  margin-left: -5px;
  margin-top: 1px;
  width: 9px;
}
.taketext {
  margin-top: 100px;
  margin-left: 220px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 70px;

  color: #000000;
}
.wetext {
  margin-top: -25px;
  margin-left: 235px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.wetext2 {
  margin-top: -18px;
  margin-left: 235px;
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.vector {
  display: flex;
  justify-content: space-evenly;
  width: 228px;
  height: 209px;
  margin-top: -210px;
}
.poloski {
  display: flex;
  width: 911px;
  height: 809.14px;
  margin-top: -785px;
  margin-left: 245px;
}
